@import url("https://use.typekit.net/myn2uis.css");

@font-face {
  font-family: "GT America Bold";
  src: url("/fonts/GT-America-Expanded-Bold-Trial.otf");
}

@font-face {
  font-family: "GT America Black";
  src: url("/fonts/GT-America-Expanded-Black-Trial.otf");
}

@font-face {
  font-family: "GT America Medium";
  src: url("/fonts/GT-America-Expanded-Medium-Trial.otf");
}

:root {

  --padding: 2em;
  --font-size: 16px;
  --font-color: rgb(245, 245, 245);
  --title-font: "GT America Black";
  --black-main: rgb(43, 43, 43);
  --green-main: #CFFB51;
}

@media (prefers-color-scheme: dark) {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  background: black;
  position: relative;
  overflow: hidden;
}



h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
  /* font-family: "tt-travels-next", sans-serif; */
  font-family: var(--title-font);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--title-font);

}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {



  :root {
    font-size: 14px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}