.ButtonContainer {

    width: fit-content;
}

.Button {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: transparent;
    padding: 1rem 1.2rem;
    color: var(--font-color);
    outline: none;
    border: none;
    transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    overflow: visible;
    border: 1px solid var(--font-color);
    border-radius: 40px;
    backdrop-filter: blur(10px);
    font-family: var(--title-font);


}

.Button:hover {
    cursor: pointer;
    transform: scale(1.05);
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 768px) {

    .ButtonContainer {
        scale: 0.9;
        font-family: var(--title-font)
    }

    .Button {
        position: relative;
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        color: var(--font-color);
        transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
        overflow: visible;

    }
}

/* Tablet and Smaller Desktop */


@media (min-width: 768px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}